<!-- Footer -->
<footer class="footer py-3 bg-light shadow-sm h-10">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 text-center text-md-start">
                <span class="text-muted">&copy; <%= new Date().getFullYear() %> DailyScribe. All rights reserved.</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="/about" class="text-decoration-none text-muted me-3">About</a>
                <a href="/contact" class="text-decoration-none text-muted">Contact</a>
            </div>
        </div>
    </div>
</footer>