<style>
    .navbar{
        height: 10%;
    }
    ul {
        display: flex;
        list-style: none;
        padding: 10px 0;
        background-color: grey;
        margin: 0;
    }

    li {
        padding-left: 20px;
    }

    li a {
        text-align: center;
        padding: 16px;
        text-decoration: none;
        color: white;
    }
</style>


<nav class="navbar">
    <ul class="navbar-links">
        <li>DailyScribe</li>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/posts/new">Make a post</a></li>
    </ul>
</nav>