<nav class="navbar h-10 bg-light shadow-sm">
    <div class="container">
        <div class="row w-100 justify-content-between">

            <strong class="col-md-6 d-flex flex-row">
                <a class="navbar-brand" href="/home">DailyScribe</a>
            </strong>

            <% if(user){ %>
                <div class="col-md-6">
                    <ul class="navbar-nav d-flex flex-row justify-content-end gap-3">
                        <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/new">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</nav>



