<div class="w-75 h-100 mx-auto text-center d-flex flex-column justify-content-evenly">
    <h1 class="">Contact Me</h1>
  <p class="lead">
    Thank you for taking the time to explore DailyScribe. This project is a demonstration of my skills in full-stack development, and I'm always open to feedback, collaboration, or new opportunities.
  </p>
  <p class="lead">
    If you're a recruiter, hiring manager, or fellow developer interested in reaching out, please feel free to contact me directly:
  </p>

  <ul class="list-unstyled">
    <li class="lead">Email: <a href="mailto:ayeletganot140@gmail.com">ayeletganot140@gmail.com</a></li>
    <li class="lead">LinkedIn: <a href="https://linkedin.com/in/ayeletganot" target="_blank">linkedin.com/in/ayeletganot</a></li>
    <li class="lead">GitHub: <a href="https://github.com/ayeletganot" target="_blank">github.com/ayeletganot</a></li>
  </ul>

  <p class="lead">
    I'm currently open to full-stack web development opportunities or QA roles, and I'm passionate about building meaningful, user-friendly products.
  </p>
</div>