<!-- Home page body -->
 
<!-- Header row -->
<div class="row mt-5">
    <div class="col d-flex justify-content-between align-items-center">
        <h1>Recent Posts</h1>
        <a href="/posts/new" class="btn btn-outline-primary">Create New Post</a>
    </div>
</div>

<!-- Posts row -->
<% if (posts.length> 0) { %>
    <div class="row my-2">

        <% posts.forEach(post=> { %>
            <div class="col-md-4 my-4">
                <%- include('./partials/shared/postCard', { post }) %>
            </div>
            <% }); %>

    </div>
    <% } else { %>
        <div class="row my-2">
            <div class="col">
                <div class="lead">No posts yet. Be the first to create one!</div>
            </div>
        </div>
    <% } %>