<!-- Edit settings section -->
<div class="row my-2">
    <div class="col-md-10 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2 class="mb-0">Profile Settings</h2>
            </div>
            <div class="card-body">
                <form action="/users/profile?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
                    </div>
                    <div class="mb-3">
                        <label for="userName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="userName" name="userName"
                            value="<%= user.userName %>">
                    </div>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current
                            Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword"">
                                    </div>
                                    <div class=" mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Posts section -->
<div class="row my-2">

    <div class="col-md-10 my-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Recent Posts</h3>
            </div>
            <% if (userProfile.posts.length> 0) { %>
                <div class="card-body">
                    <div class="row my-2">
                        <% userProfile.posts.forEach(post=> { %>
                            <div class="col-md-4 my-4">
                                <%- include('./partials/shared/postCard', { post }) %>
                            </div>
                            <% }); %>
                    </div>
                    <div class="mt-3">
                        <a href="/users/posts" class="btn btn-outline-primary">View All
                            Posts</a>
                    </div>
                </div>
                <% } else { %>
                    <div class="card-body">
                        <p class="lead card-text">No posts yet.</p>
                    </div>

                    <% } %>
        </div>

    </div>



<!-- Comments section -->
<div class="row my-2">

    <div class="col-md-10 my-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Recent Comments</h3>
            </div>
            <% if (userProfile.comments.length> 0) { %>

                <div class="card-body">
                    <div class="row my-2">
                        <% userProfile.comments.forEach(comment=> { %>
                            <div class="col-md-4 my-4">
                                <%- include('./partials/shared/commentCard', { comment}) %>
                            </div>
                            <% }); %>
                    </div>
                    <div class="mt-3">
                        <a href="/users/comments" class="btn btn-outline-primary">View
                            All Comments</a>
                    </div>
                </div>

                <% } else { %>
                    <div class="card-body">
                        <p class="lead card-text">No comments yet.</p>
                    </div>
                    <% } %>
        </div>
    </div>
</div>