
<div class="row mt-5">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4 mb-4">Welcome to DailyScribe</h1>
        <p class="lead mb-4">Share your thoughts, connect with others, and be part of our community.</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="/login" class="btn btn-primary btn-lg">Login</a>
            <a href="/signUp" class="btn btn-outline-primary btn-lg">Sign Up</a>
        </div>
    </div>
</div>
