<!-- Error message -->
<div class="alert alert-danger alert-dismissible fade show fixed-top shadow" 
      role="alert" 
      style="z-index: 1055;">
  <%= error %>
  <button 
      type="button" 
      class="btn-close" 
      data-bs-dismiss="alert" 
      aria-label="Close">
  </button>
</div>
